*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: rgb(92, 39, 39);
    transition: all 0.3s ease;
    border-radius: 10px;


}
::-webkit-scrollbar-thumb:hover{
    background: rgb(77, 2, 2);
}
body{
    font-family: 'Zilla Slab', serif;
    /* background-color: #e9ecef; */
}
nav{
    position:fixed;
    width:100%;
    padding: 20px 0px;
   z-index: 999;
   transition: all 0.3s ease;


}
nav .menubar{
    display: flex;
    /* background-color: rgb(179, 149, 149); */
    justify-content: space-between;
    height: 35px;
    margin:auto;
    align-items: center;
    text-align: center;

}
nav .menubar .logo a{
    color: #6870b8;
    font-size: 50px;
}
nav .menubar .menu{
    display: flex;
    position: relative;
    
}
nav .menubar .menu li {
    list-style: none;
    
    margin:10px;
    padding:10px;

}
nav .menubar .menu li a{
    color:rgb(141, 128, 128);
    font-size: 40px;
}
nav .menubar .menu li a:hover{
    font-weight: bold;
    color:rgb(21, 46, 46);

}
/** Home Page ------>>>>>>>**/
.home{
    height:100vh;
    width:100%;
    background: url(image/home.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.home .home-content{
    width:90vw;
    height:100%;
    margin:auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .text-one{
    font-size: 4em;
    color:#4d4596;
    font-weight: bolder;
}
.home .text-two{
    font-size: 3em;
    color: #000000;
    font-weight: bolder;
    margin: 0px;
    

}
.home .text-three{
    font-size: 2em;
    color: #dd4245;
    font-weight: bold;
    

}
.home .text-four{
    font-size: 1.5em;
    color: #343a40;
    font-weight: bold;

    

}
.home .text-five{
    font-size: 1em;
    color: #343a40;
    font-weight: bold;
    

}
.home .button button{
    margin:10px 0px;
    padding: 9px;
    font-size: 40px;
    border-radius: 20px;
   background-color:#dd4245;
   color:white;
   border:2px solid #dd4245;
   cursor: pointer;
   font-weight:400;
   transition: all 0.4s ease;

}
.home button:hover{
    background-color: #7c1b1c;
    border:2px solid #7c1b1c;
    

}

/* about page */

section .content{
    width:80%;
    
    margin: 40px auto;
    font-family: 'poppins',sans-serif;
}
section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
section .title span{
    color: #343a40;
    font-size: 4em;
    font-weight: 600;
    position: relative;
    padding: 20px;
    margin-top: 100px;

}
.about .about-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}







.about .about-details .left{
    width:45%;

    
    
}
.about .left img{
    width:400px;
    height:400px;
    object-fit: cover;
    border-radius: 12px;
}
.about .right{
    width:55%;

}
.about .about-details .right{
    width:55%;

}
.about .right .Topic{
    font-size: 50px;
    font-weight: 800;
    color:#343a40;
    margin-bottom:10px;
}
.about .right p{
    text-align: justify;
    font-size: 40px;
    font-weight: 400;
}
section .button{
    margin:16px 0px;

}
section .button button{
    
    padding: 28px;
    margin: 15px;
    font-size: 25px;
    background-color: #dd4245;
    border: 2px solid #dd4245;
    color:white;
    border-radius: 29px;
    cursor: pointer;
}
section .button button:hover{
    background-color: #7c1b1c;
    border:2px solid #7c1b1c;
    transition: all 0.5s ease;
}




/* skills css */


.skills{
    background-color: #f1f1f1;
}
.skills .content{
    padding:40px 0px;
}
.skills .skills-details{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.skills .skills-details .text .topic{
    color: #000000;
    font-size: 40px;
    font-weight: 200;
}
.skills-details .text{
    width:50%;
}
.skills-details .text p{
    color:#000000;
    text-align: justify;
    font-size: 25px;
}
.skils-details .boxes{
    width:45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.skills-details .boxes .box{
    margin:20px;
    
    
}
.skills-details .boxes .box .topic{
    font-size: 32px;
    font-weight: 600;
    color:#dd4245;
}
.skills-details .boxes .box .par{
    font-size:20px;
}




/* Contact CSS*/

.contact{
    background-color: #f1f1f1;
    height:100vh;
}
.contact .content{
    margin: 0px auto;
    padding:40px 0px;
}
.contact .text{
    width: 80%;
    text-align:center;
    margin:auto;
}
.contact .text .topic{
    font-size: 50px;
    font-weight: 600;
    color:#343a40;
    margin:50px;
}
.contact .text .topic p{
    font-size: 25px;
    font-weight: 400;
    color:#343a40;
    margin-bottom: 50px;
    
}
.projects{
    height:100vh;
}




/* 
projects style */

.projects .content .boxess{
    display: flex;
    justify-content: space-between;
   
}
.projects .content .boxess .text .topic{
    font-size:44px;

}
.projects .content .boxess .text{
    text-align: center;
    padding:5px;
    margin: 20px;
    border:2px solid black;
    border-radius:15px;
    box-shadow: 5px 5px 5px 5px #49535d;

}
.projects .content .boxess .text .buttn button{

    font-size: 20px;
    margin: 60px;
    padding: 20px;
    background-color: #dd4245;
    border: 2px solid #dd4245;
    color: white;
    border-radius: 16px;
    cursor: pointer;
    
}
.projects .content .boxes .text .buttn button:hover{
    background-color:#bb0000 ;
}
.projects .content .boxess .text p{
    font-size: 18px;
    margin-top: 48px;
}





/* footer stayle */
footer{
    display: flex;
    justify-content: center;
    background-color: #49535d;
    height:150px;
    align-items: center;
}
footer .text{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
footer .fa{
    margin:5px 10px;
    padding:20px;
    width:100px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
}
    .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50px;    
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
border-radius: 50px;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
border-radius: 50px;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
border-radius: 50px;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
border-radius: 50px;
  }
  
  .fa-instagram {
    background: #8a3ab9;
    color: white;
border-radius: 50px;
  }
  .fa:hover {
      opacity: 0.7;
      transition: all 0.5s ease;
    
}
footer .text span{
    font-size: 25px;
    margin-left: 20px;
    color:cornsilk;
}
footer .text span a{
    color:navy;
    font-size: 30px;
    font-weight: 600;
    padding:10px;
    margin-left:20px;

}
footer .text span a:hover{

    color:rgb(206, 198, 221);
}

/* scroll up */

.scroller a{
    display: none;
    position:fixed;
    bottom: 200px;
    right: 100px;
    color:white;
    background-color: #bb0000;
    padding:10px 12px;
    font-size: 100px;
    border-radius: 23px;
    box-shadow: rgba(0,0,0,0.15);
    width: 110px;
    text-align: center;
    font-weight: 900;
    height: 135px;
}
.scroller a:hover{
    background-color: #7c1b1c;
    transition: all 0.5s ease;
}


/* Responsive */


@media(max-width:1190px){
    section .content{
        width:85%;
    }
    
}
@media(max-width:1000px){
    .about .about-details{
        justify-content: center;
        flex-direction: column;
    }
    .about .about-details .left{
        display: flex;
        justify-content: center;
        width:100%;
    }
    .about .about-details .right{
        width:90%;
        margin: 40px 0;
    }
    .about .about-details .right .button{
        align-items: center;
    }
  
    section .skills{
        display: flex;
        justify-content: center;
        width:100%;

    }
}
@media(max-width:900px){
    .about .left img{
        height:350px;
        width:350px;
    }
}


@media(max-width:750px){
    nav .menubar{
        width:90%;
    }
    nav .menubar .menu{
        position: fixed;
        left:-100%;
        top:0px;
        background-color: #343a40;
        height: 100vh;
        max-width:400px;
        width:100%;
        padding-top:60px;
        flex-direction: column;
        align-items: center;
        transition: all 0.5 ease;
    }
    .menubar .menu .active{
        left:0px;
    }
    nav .menubar .menu a{
        font-size: 25px;
        display:block;
        color:white;
        margin:10px 0px;

    }
    nav .menubar .menu a:hover{
        background-color: #bb0000;
    }
    nav .menu-btn,
    .menubar .menu .cancle-btn{
        display: block;
    }

    .home  .text .text-one{
        font-size: 60px;

    }
    .home .text .text-two{
        font-size: 55px;
        
    }
.home .text .text-three{
    font-size: 40px;
    
    }

.home  .text.text-four{
    font-size: 20px;
    
}

.home .text .text-five{
    font-size: 15px;
    
}

        .skills .skills-details{
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .skills-details .text{
            width:100%;
            margin-bottom: 50px;
        }
        .skills-details .boxes{
            justify-content: center;
            align-items: center;
            width:100%;

        }

        section .projects .content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width:100%;
        }

        .contact .text{
            width:100%;
        }
        .skills .title{
            font-size: 15px;
        }
        
}


@media(max-width:500px){
    .home  .text .text-one{
        font-size: 60px;

    }
    .home .text .text-two{
        font-size: 55px;
        
    }
    .home .text .text-three{
    font-size: 40px;
    
    }

    .home  .text.text-four{
    font-size: 20px;
    
    }

    .home .text .text-five{
    font-size: 15px;
    
}
section{
    width:100%;
}
.home .home-content{
    width:100vw;
}


}